#actions-menu{
  position: fixed;
  right: 20px;
  padding: 5px 0px 25px 10px;

  transition: all 0.4s;
  bottom: -120px;
  &.active{
    bottom: 0;
  }

  display: flex;

  >.left,>.right{
    //width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  >.left{
    width: 200px;
  }


  .btn-pill,.btn-circle{
    border: none;
    outline: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15) !important;
    margin: 3px;
  }

  .btn-pill{
    background-color: #A7A7A7;
    width: 75px;
    height: 30px;
    border-radius: 12px;
    font-size: 1.1em;
  }

  .btn-circle{
    background-color: #A7A7A7;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    color: #fff;
  }


  [data-action]{





    //background-color: var(--color-cayceo);
    //color: #fff;
    //
    >svg{
      width: 100%;
      height: 100%;
    }
  }

}